<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="model" default="$(find quadrupedal_description)/urdf/quadrupedal_robot.xacro"/>   
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="physics" value="bullet"/>
	</include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model quadrupedal_robot -z 1.0" />


	<rosparam file="$(find quadrupedal_control)/config/quadrupedal_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen" ns="/quadrupedal_robot"
				args="body_joint1_position_controller 
				upper_joint1_position_controller
				body_joint2_position_controller
				upper_joint2_position_controller
				body_joint3_position_controller
				upper_joint3_position_controller
				body_joint4_position_controller
				upper_joint4_position_controller"/>
</launch>
